.my-name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;

}

.box {
    height: 500px;
    width: 500px;
    background-color: pink;
    box-sizing: border-box;
    text-align: center;
    padding: 10%;
}